@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
/* Default for desktop */
#about, #services, #experience, #education, #opd, #contact {
  scroll-margin-top: 100px; /* desktop header height */
}

/* For mobile screens */
@media (max-width: 640px) {
  #about, #services, #experience, #education, #opd, #contact {
    scroll-margin-top: 70px; /* mobile header height */
  }
}